<h1>Добаление страницы </h1>
<% #указываем :url для того, что бы роут вел на эту же страницу. %>
<%= form_for(Page.new, :url => "/add") do |f| %>
  <%= f.hidden_field(:parent_id, :value => @page.id) if @page %>
  <p>Имя страницы <br><%= f.text_field :pagename %></p>
	<%= render partial: "form", locals: {f: f} %>
	<p><%= f.submit "добавить" %></p>
<% end %>
