<h1><%= @page.pagetitle %></h1>
<p><%= replace_tags(@page.content) %></p>

<br>

<ul>
	<% for page in @page.subpages  %>
		<li><a href="/<%=page.pagename%>"><%= page.pagetitle %></a></li>
	<% end %>
</ul>


